body, html {
  margin: 0 0 50px 0;
  padding: 0;
}

main {
  padding-top: 20px;
}

.navbar-brand {
  max-width: 150px;
}

.navbar-brand img {
  width: 100%;
}

/* Page ajout des capteurs */
#ajout-capteur .btn {
  margin-right: 20px;
}

/* Page de gestion des ensembles */
#gerer_ensembles img {
  width: 20%;
}

#gerer_ensembles .card {
  margin-top: 30px;
}

#gerer_ensembles div[draggable='true'] {
  cursor: -webkit-grab;
  cursor: grab;
}
