/* Unique class */
.error {
  color: red;
}

/* General layout */
body, html {
  margin: 0 0 50px 0;
  padding: 0;
}

main {
  padding-top: 20px;
}

button.btn {
  margin-right: 20px;
  margin-top: 20px;
}

.svg-inline--fa {
  font-size: 1.3rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* Navbar */
.navbar-brand {
  max-width: 150px;
  cursor: pointer;
}

.navbar-brand img {
  width: 100%;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0, 0, 0, 0.4) !important;
  transition: color 1s;
}

.navbar-light .navbar-nav .show>.nav-link:hover {
  color: #3399F3 !important;
  transition: color 1s;
}

/* PAGE HOME */
#home h2 {
  text-align: center;
  color: #5a7e9c;
}

#home .home-section-title {
  margin: 20px 0;
}

#home .home-section-title h3 {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

#home .home-section-title::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#home .card {
  height: 100%;
}

#home .card-header {
  text-transform: uppercase;
  font-weight: 700;
}

/* PAGE CREATION CLIENT, PARCS, CAPTEURS */
#creation .card {
  margin-bottom: 1.5rem;
}

#ajout-parc, #ajout-capteur {
  display: none;
}

.client-title {
  text-decoration: underline;
  color: #000;
}

.client-name {
  font-size: 1.3rem;
}

.client-desc {
  font-size: 0.7rem;
}

#recap {
  margin-bottom: 20px;
}

.recap-section {
  margin-bottom: 20px;
}

/* PAGE GESTION DES CAPTEURS */
#gerer-capteur .container {
  max-width: 90% !important;
}
